<main>
  <%= form_with(model:@post, local:true) do |form| %>
    <h2>以下の内容でよろしいですか？</h2>
      <%= form.hidden_field :content %>
    <div>
      <%= @post.content %>
    </div>
    <%= form.submit "つぶやく" %>
    <%= form.submit "戻る" , name:"back" %>
  <% end %> 
</main>