<main>
  <%= notice %>
  <table>
      <% @posts.reverse_each do |post| %>
        <tr><th><%= l post.created_at %></th></tr>
        <tr><th><%= post.content %></th></tr>
        <tr>
          <th>
            <%= link_to "詳細",  post_path(post.id) %>　
            <%= link_to "編集",  edit_post_path(post.id) %>　
            <%= link_to "削除",  post_path(post.id), method: :delete %>
          </th>
        </tr>
      <% end %>
  </table>
</main>