<main>
  <%= render "error_message" %>
  <%= form_with(model:@post, local:true, url:confirm_posts_path) do |form| %>
    <div>
      <%= form.label :いまどうしてる？ %><br>
      <%= form.text_field :content %>
    </div>
    <%= form.submit "つぶやく" %>
    <%= link_to posts_path do %>
      <button>戻る</button>
    <% end %>
  <% end %> 
</main>