<!DOCTYPE html>
<html>
  <head>
    <title>ひとりごと</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <header class="header" >
      <div class="app_title">ひとりごと</div>
      <div class="new">
      <% if current_page?(posts_path) %>
        <%= link_to "つぶやく", new_post_path, class:"new_button" %>
      <% end %>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="footer_name">©︎miyauchi</p>
    </footer>
  </body>
</html>
